body {
	width: 100%;
	height: 100%;
	margin: 0;
}

body,
textarea,
input,
button,
.chat-messages {
	font: 13px "Trebuchet MS", sans-serif;
	background: #fafafa;
}

.chat {
	max-width: 300px;
	position: absolute;
	bottom: 0px;
	right: 28px;
	transition: margin-bottom 1s ease;
	margin-bottom: -384px;
}

.chat-messages,
.chat textarea,
.chat-name,
.chat-expand {
	border: 2px solid #222;
}

.chat-messages {
	width: 100%;
	height: 300px;
	overflow-y: scroll;
	padding: 10px;
	border-top: 0;
	border-bottom: 0;
}

.chat-messages span {
	color: #bbb;
}

.chat-name,
.chat textarea,
.chat-expand {
	padding: 10px;
	margin: 0;
	outline: none;
}

.chat-name:focus,
.chat textarea:focus {
	border-color: #008cba;
}

.chat-expand {
	width: 42px;
	cursor: pointer;
}

.chat textarea {
	width: 100%;
	max-width: 100%;
}

.chat-name {
	width: 86%;
}

.chat-expand:hover {
	border-color: #008cba;
	color: #008cba;
}

.chat-head {
	width: 324px;
	display: -webkit-flex;
	-webkit-flex-direction: row;

	display: flex;
	flex-direction: row;
}

.chat-body {
	display: none;
}

iframe {
	width: 100%;
	height: 100%;
}